.container {
    width: 402px;
    height: 874px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}

h1 {
    font-size: 20px;
    margin-top: 184px; 
    margin-right: 37px;   
}

.blue {
    color: #0B70FE;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
    margin-top: 30px;
}

.input1, .input2, .input3 {
    background-image: url(./img/Rectangle\ 61.png);
    background-size: cover;
    background-position: center;
    width: 333px;
    height: 77px;
    position: relative;
}

.input input {
    position: absolute;
    font-weight: bolder;
    width: 333px;
    height: 77px;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input input::placeholder {
  color: black;    
  opacity: 1;     
}

.button {
    background-image: url(./img/Rectangle\ 55.png);
    background-size: cover;
    background-position: center;
    width: 155px;
    height: 69px;
    margin-top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}
