.header {
    width: 402px;
    height: 184px;
    flex-shrink: 0;
    background: #E0F1FF;
    background-image: url(/images/main.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 17px;
}

.top {
    display: flex;
    width: 100%;
    margin-top: 26px;
    margin-left: 20px;
    gap: 200px;
}

.tab {
    display: flex;
}

.btn {
    cursor: pointer;
}

.categories {
    width: 350px;
    flex-shrink: 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 16px;
}

.categories a {
    height: 40px;
}

.categories a button {
    width: 80px;
    height: 40px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 31px;
    border: 1px solid #B0B9C2;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.categories button.active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;
}

.top3 {
    display: flex;
    flex-direction: column;
    color: #358FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 61;
}

.top3-name {
    margin: 0 0 5 19;
}

#keyword {
    color: #000;
}

.list {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.box {
    width: 121px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 28.5px;
    border: 1px solid #9D9D9D;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.if-content {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: pre-line;
    margin-left: 19;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #358FFF;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-box {
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid #B0B9C2;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 292px;
    width: 361px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20 0 0 0;
}

.profile {
    display: flex;
    width: 50px;
    margin-right: 10px;
}

.if-item {
    display: flex;
    margin-left: 18px;
    align-items: center;
    margin-right: 10px;
}

.if-item-box {
    display: flex;
}

.if {
    width: 361px;
}

/* 마지막 항목은 line 제거 */
.if:last-child {
    width: 0;
}

.moments {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.order {
    display: flex;
    justify-content: flex-end;
    margin-right: 19;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
}

.order a {
    text-decoration: none;
    color: #9D9D9D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sortBtn {
    all: unset;
    cursor: pointer;
}

.sortBtn.active {
    font-weight: bold;
    color: #000;
}

.moment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

hr {
width: 402px;
margin-bottom: 13;
}

.m-content {
    width: 316px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #9D9D9D;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.scroll {
    flex: 1;
    overflow-y: auto;
  
    /* 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
.scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.nb {
    position: absolute;
    bottom: 0;
    width: 100%;
}


