.container {
    width: 402px;
    height: 874px;
    background: #FFF;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-top:10vh;
    background-image: url("/images/onboarding2.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    border: 2px solid #000;
}

p {
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4; /* 또는 px 단위로 예: 28px */
    margin-top: 100px;
    margin-left: 21px;
}

span {
    color: #0B70FE;
    margin-top: 10px;
}