.header{
    display: flex;
}

.back{
    margin-top: 16px;
    margin-left: 14px;
}

.profile{
    margin-top: 16px;
    margin-left: 10px;
    display: flex;
}

.name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 24px;
}
.category{
    margin-top: 31px;
    margin-left: 80px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
    margin-top: 30px;
}

.input1{
    background-image: url(./img/Rectangle\ 51.png);
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    width: 354px;
    height: 77px;
    position: relative;
    p{
        font-size: 20px;
        font-weight: bold;
        margin-top: -10%;
        margin-left: 10px;
    }
}

.input2,.input3{
    background-image: url(./img/Rectangle\ 52.png);
    background-size: cover;
    background-position: center;
    width: 354px;
    height: 215px;
    position: relative;
    margin: 20px;
     p{
        font-size: 15px;
        font-weight: bold;
        margin-top: -7%;
        margin-left: 10px;
    }
}

.input input {
    position: absolute;
    width: 333px;
    height: 77px;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    
}

textarea {
  width: 100%;
  height: 90%;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  resize: none; 
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.4;
}

.hidden {
  display: none;
}

.image {
  cursor: pointer;
  position: relative;
  margin-left: 343px;
  margin-top: 5px;
}

.image-box {
  position: absolute;
  top: 20px; 
  left: -140px;
  width: 162px;
  height: 200px; 
  background-image: url(./img/Group\ 90.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 10px;
  z-index: 10;
}

.dropdown-btn {
  margin-top: 20px;
  background-image: url(./img/Rectangle\ 57\ \(2\).png);
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 11px;
  padding: 10px;
  padding-top: 5px;
  color: #9D9D9D;
  font-weight: bold;
}

.dropdown-menu {
  margin-top: -23%;
  background-image: url(./img/Rectangle\ 57\ \(1\).png);
  background-repeat: no-repeat;
  height: 170px;
  overflow: hidden;
}

.dropdown-menu li {
  text-align: center;
  list-style: none;
  cursor: pointer;
  margin-left: -30%;
  padding: 1px 0px;         
  line-height: 16px;
  font-size: 11px;
  color: #9D9D9D;
  border-bottom: 1px solid #9D9D9D;
  width: 90px;
  position: relative;
  top: 30px;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li:hover {
  background-color: #cce4ff;
}

.image-menu li {
  list-style: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #9D9D9D;
  
}

.image-menu li:hover {
  background-color: #cce4ff;
}



.button {
    background-image: url(./img/Rectangle\ 39.png);
    background-size: cover;
    background-position: center;
    width: 155px;
    height: 69px;
    margin-top: -5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

.category {
  position: relative;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 40px;
  cursor: pointer;
}

.category-box {
  position: absolute;
  top: 0%;
  right: 0;
  width: 83px;
  height: auto;
  z-index: 10;
}

.category-bg {
  width: 90px;
  display: block;
  margin-left: -7%;
  margin-top: -7%;
  cursor: pointer;
}

.category-menu {
  position: absolute;
  top: 25px;
  left: -3%;
  width: 83px;
  list-style: none;
  text-align: center;
  padding: 6px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-menu li {
  width: 66px;
  padding: 8px 8px;
  font-size: 12px;
  color: #9D9D9D;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #9D9D9D;
}

.category-menu li:last-child {
  border-bottom: none;
}

.category-menu li:hover {
  background-color: #cce4ff;
  width: 66px;
}

.hidden {
  display: none;
}


#selectedCategory {
      background-image: url(./img/Rectangle\ 57.png);
      color: #9D9D9D;
      width: 85px;
      height: 31px;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      padding-top: 12px;
    }

.hidden {
    display: none;
}