<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="../css/onboarding2.css" />
</head>
<body>
    <div class="container">
        <p>
            하나하나 모아지는 <span>작은 경험</span>들... <br>
            실패는 끝이 아니니까, 같이 기록하고 공유해요!
        </p>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "onboarding3.html"
        }, 2500);
    </script>
</body>
</html>