<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mypage.css">
    <link rel="stylesheet" href="../container.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <img src="../img/Group 42.png" alt="">
            <p>바그바그</p>
        </div>
        <div class="mypage">
            <div class="mypage_box">
            <img src="../img/Rectangle 59.png" alt="">
            <div class="section1">
                <a href="" class="link">이메일</a>
            <img src="../img/Line 34.png" alt=""></div>
            <div class="section2">
                <a href="" class="link">회원정보 수정하기</a>
            <img src="../img/Line 34.png" alt=""></div>
            <div class="section3">
                <a href="" class="link">내가 쓴 글</a>
            <img src="../img/Line 34.png" alt=""></div>
            <div class="section4">
                <a href="" class="link">좋아요 한 글</a>
            <img src="../img/Line 34.png" alt=""></div>
            <div class="section5">
                <a href="login.html" class="link">로그아웃</a>
            <img src="../img/Line 34.png" alt=""></div>            
            </div></div>
        
        <div class="footer">
            <div class="logo">
            <div class="logo1">
                <a href="../"></a>
                <img src="../img/home.png" alt=""></div>
            <div class="logo2">
                <a href="write.html" class="link"></a>
                <img src="../img/border_color.png" alt=""></div>
            <div class="logo3">
                <img src="../img/account_circle.png" alt=""></div>
        </div>
    </div>
    </div>
</body>
</html>