{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>welcome</title>
  <link rel="stylesheet" href="../css/onboarding1.css"/>
</head>
<body>
    <div class="container">
        <div class="text">
            <div class="welcome">
                <span id="username">000님</span>, <span>환영합니다!</span>
            </div>
            <div class="description">
                여긴, 완벽한 사람은 없습니다.<br>
                실수하고, 망하고, 다시 일어서는 이야기들이 모이는 곳.
            </div>
            <div class="highlight">
                <span>실패를 나누는 순간, 우리는 조금 더 나아갑니다.</span>
            </div>
        </div>
    </div>    <script>
        setTimeout(() => {
            window.location.href = "{% url 'users:onboarding2' %}";
        }, 3000);
    </script>
</body>
</html>
