<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../../static/css/container.css"/>
  <link rel="stylesheet" href="../../static/css/hamburger.css">
</head>
<body>

<div class="container">
<div class="menu">
    <div class="bg-image">
    <img src="../../static/assets/imges/Rectangle 59 (1).png" alt="">
  
  <ul>
    <li><a href="#">연애</a></li>
    <li><a href="#">인간관계</a></li>
    <li><a href="#">취업/커리어</a></li>
    <li><a href="#">건강</a></li>
    <li><a href="#">학업</a></li>
    <li><a href="#">취미</a></li>
    <li><a href="#">소비</a></li>
    <li><a href="#">기타</a></li>
    <li><a href="#">마이페이지</a></li>
  </ul></div>
  <div class="logo">
    <img src="../../static/assets/imges/Group 92.png" alt="Oopsie Logo"/>
  </div>
</div>

</div>
</body>
</html>
