<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/container.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="text">
            <h1>당신의 <span class="blue">경험</span>을 공유해주세요</h1></div>
        <form class="input">
            <div class="input1">
            <input type="text" placeholder="이메일"></div>
            <div class="input2">
            <input type="text" placeholder="비밀번호"></div>
            <div class="button">
            <button>로그인</button></div>
            <a href="./login.html" class="login_link">회원가입하기</a>          
        </form>
            
    </div>
    
</body>
</html>