<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/signup.css">
    <link rel="stylesheet" href="../../static/css/container.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="text">
            <h1>당신의 <span class="blue">경험</span>을 공유해주세요</h1></div>
        <form class="input">
            <div class="input1">
            <input type="text" placeholder="이메일"></div>
            <div class="input2">
            <input type="text" placeholder="비밀번호"></div>
            <div class="input3">
            <input type="text" placeholder="비밀번호 확인"></div>
            <div class="button">
            <button>회원가입</button></div>            
            </form>
            
    </div>
    
</body>
</html>